{% extends "base.html" %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container white my-5">
  <div class="row">
    <div class="col-mb3 offset-md-2">
      <h3>Welcome back!</h3>
      <p>
        {% blocktrans %}
        To write posts, comment or add likes you need to be logged in.<br> 
        If you have not created an account yet, then please <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-mb-3 mt-3 offset-md-2">

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-success right mb-5" type="submit">{% trans "Sign In" %}</button>
      </form>
      
    </div>
  </div>
</div>

{% endblock %}
<!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->		