{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container-md container-accounts bg-white rounded-3 box-shadow pt-0 px-0" data-aos="fade-down">
        <div class="header-accounts rounded-top m-0"></div>
        <div class="accounts-body p-4 mx-3">
            <h3 class="card-title mb-3">Change Password</h3>
            <p>Your password is now changed. Sign in <a href="{% url 'account_login' %}" class="text-link">here</a></p>
        </div>
    </div>
</div>

{% endblock %}