{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container-md container-accounts bg-white rounded-3 box-shadow pt-0 px-0" data-aos="fade-down">
        <div class="header-accounts rounded-top m-0"></div>
        <div class="accounts-body p-4 mx-3">
            <h3 class="card-title mb-3">{% trans "Verify Your E-mail Address" %}</h3>
            <p class="py-3">
                <p>{% blocktrans %}This part of the site requires us to verify that
                    you are who you claim to be. For this purpose, we require that you
                    verify ownership of your e-mail address. {% endblocktrans %}</p>

                <p>{% blocktrans %}We have sent an e-mail to you for
                    verification. Please click on the link inside that e-mail. If you do not see the verification e-mail
                    in your main inbox, check your spam folder. Otherwise
                    contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail
                        address</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>

{% endblock %}