@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    font-family: 'Merriweather', serif;
    color: #04100D;
    background-color: rgb(238, 245, 235);
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676908742/background_pa_dfqyis.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloock', serif;
}

a, a:hover {
    text-decoration: none;
    color: #04100D;
}
/* Social media share icons */
.social-share {
    position: absolute;
    text-align: center;
    bottom: 1%;
    right: 1%;
    font-size: x-large;
    font-weight: 700;
    padding: 15px 10px;
    border: none;
}

.social-share button {
    background-color: transparent;
}

.social-share button a {
    color: #fff;
}

.social-facebook:hover {
    color: #4267B2;
    transform: scale(1.5);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
}

.social-twitter:hover {
    color: #1DA1F2;
    transform: scale(1.5);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
}

.text-link {
    text-decoration: none;
    color: #003718;
    box-shadow: inset 0 -2px 0 0 green;
    display: inline-block;
    transition: all .2s ease-in-out;
    padding: 0 3px;
    box-sizing: border-box;
}

.text-link:hover {
    border: none;
    box-shadow: inset 0 -25px 0 0 #003718;
    color: #FFF;
}

.wrapper {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav button {
    margin-right: 25px;
}

.user-name {
    padding: 10px;
}

.navbar-collapse .collapse .show {
    margin-bottom: 20px;
}

.navbar-toggler-icon {
    font-size: medium;
    margin: 0;
}

/* Bootstrap toast */
.toast-green {
    background-color: #005f08cc;
    color:#fff;
}

/* Buttons */
button {
    border: none;
}

.btn-green {
    background-color: #005f08cc;
    color:#fff;
}

.btn-green:hover {
    background-color: #003718;
    color: #fff;
}

.btn-outline-green {
    color: #003718;
    border-color: #003718;
}

.btn-outline-green:hover {
    background-color: #005f08cc;
    color: #fff;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    transition: all 300ms ease-in-out;
}

.navbar-brand {
    color:#003718;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 700;
}

.nav-item {
    color: #003718;
    transition: .4s;
    width: auto;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #ffbd59;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.gravatar-main img {
    border-radius: 50%;
}

/* Carousel */
.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-img-1 {
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676912572/DJI_0170-HDR_2048_gjukis.webp');
}

.bg-img-2 {
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676911583/BHK_9473_ctazzz.webp');
}

.bg-img-3 {
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1677076603/BHK_1585-HDR_2048px_qqzctn.webp');
}

.bg-img-4 {
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1677076110/BHK_6750-HDR_2048_igfxte.webp');
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    background: linear-gradient(90deg, hsla(180, 5%, 83%, 0.6) 100%, hsla(165, 60%, 4%, 1) 100%);
    background-size: cover;
    backdrop-filter: blur(3px);
}

.display-2 {
    font-family: 'Gloock', serif;
    color: #04100D;
}

.display-6 {
    font-family: 'Gloock', serif;
    color: #003718;
}

/* Main page Hero */

.hero-container {
    background: linear-gradient(90deg, hsla(180, 5%, 83%, 0.6) 100%, hsla(165, 60%, 4%, 1) 100%);
    background-size: cover;
    backdrop-filter: blur(5px);
}

.box-shadow {
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.2);
}

/* Post cards on main page */
.card-category {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-size: small;
}

.card-title-popular {
    font-family: 'Gloock', serif;
    font-size: 2rem;
    text-decoration: none;
}

.card-title-popular a {
    font-family: 'Gloock', serif;
    font-size: 2rem;
    text-decoration: none;
}

.card-main-page {
    min-width: 300px;
    object-fit: cover;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
    border: 1px solid transparent;
}

.heart-main-page {
    color: #f00;
}

/* Blog post card */
.card-img-blog {
    max-height: 850px;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.card-title {
    font-family: 'Gloock', serif;
    font-size: 2.5rem;
}

.post-link {
    color: #04100D;
    transition: .4s;
    width: auto;
}

.post-link:hover {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #ffbd59;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.card-title a {
    font-family: 'Gloock', serif;
    color: #04100D;
    font-size: 2.5rem;
    text-decoration: none;
}

.image-caption {
    position: absolute;
    width: auto;
    bottom: 15px;
    background-color: rgb(0, 95, 8, 0.8);
    color: #fff;
    font-size: small;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 8px 8px;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.caption-likes {
    position: absolute;
    text-align: center;
    top: 1%;
    right: 1%;
    background: transparent;
    font-size: x-large;
    font-weight: 700;
    padding: 10px 10px;
    border: none;
}

.like {
    color:#fff;
    background: transparent;
}

.liked {
    color: #f00;
    background: transparent;
}

.like:hover {
    color: #f00;
    transform: scale(1.5);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
}

.post-details {
    font-size: medium;
}

.post-tags button {
    background-color: #cdcecf;
    color:#04100D;
    font-size: medium;
    box-shadow: inset 0 -2px 0 0 green;
    transition: all .2s ease-in-out;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.post-tags button:hover {
    background-color: #ffbd59;
    color:#04100D;
    font-size: medium;
    box-shadow: inset 0 -25px 0 0 #ffbd59;
}

/* Dashboard */
.dashboard-welcome {
    background-color: #ffbd59;
    border-radius: 0.75em;
    margin: 0 auto;
}

.dashboard-keypoints {
    background-color: #fff;
}

.card-img-thumbnail {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
}

.dashboard-card-title a {
    font-size: 1em;
    text-decoration: none;
    color: #003718;
}

.dashboard-details {
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
}

.featured-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 0.25em;
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 997;
}

.featured-img:hover .overlay {
    opacity: 1;
}

.dashboard-image-caption {
    position: absolute;
    width: auto;
    background-color: rgb(0, 95, 8, 0.8);
    color: #fff;
    font-size: small;
    font-weight: 700;
    margin-bottom: 10px;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 8px 8px;
    z-index: 996;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.delete-link {
    text-decoration: none;
    color: #04100D;
}

.delete-link:hover {
    color: #04100D;
}

.edit {
    color:#fff;
    background: transparent;
}

.edit:hover {
    color:#c9e365;
    transform: scale(1.5);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
}

.count-box {
    background-color: #fff;
    box-shadow: 0px 0 16px rgb(0 0 0 / 20%);
    border: 1px solid #c9e365;
    font-size: 1.25em;
    font-weight: 700;
    padding: 20px;
    margin-top: 10px;
}

.count-value {
    font-weight: 700;
    font-size: 2em;
}
.count-value a {
    color: #ffbd59;
}

.count-value a:hover {
    color: #003718;
}
/* Footer */
.footer {
    position: relative;
    margin-top: auto;
    width: 100%;
}

.footer-address,
.footer-nav {
    font-size: medium;
}

/*Social icons in Footer*/
.social-icon {
    font-size: 1.5em;
    padding: 5px 5px;
    color: #003718;
}

.social-icon:hover {
    color: #ffbd59;
  }

/* Hide/show navbar on scroll */

.scroll-down .navbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
    filter: drop-shadow(0 -10px 20px rgb(136, 136, 136))
}

.post-excerpt {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.25em;
}

div.card-text span {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.25em;
}

div.card-text a {
    text-decoration: none;
    color: #003718;
    box-shadow: inset 0 -2px 0 0 green;
    display: inline-block;
    transition: all .2s ease-in-out;
    padding: 0 3px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 16px;
}

div.card-text a:hover {
    border: none;
    box-shadow: inset 0 -25px 0 0 #003718;
    color: #FFF;
}

/* Delete post page */
.modal-overlay {  
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 1;
    transition: opacity 0.5s;
  }

.warning {
    font-size: xx-large;
    color:#f00;
}

/* About page */
.container-about {
    padding: 25px;
}
.about img:hover {
    transform: scale(0.95);
}

.about-info .about-info-img img:hover {
    transform: scale(0.98);
}

.about-info .about-info-img .img {
    padding: 15px 0px 0px 15px;
    position: relative;
}

.about-info .about-info-img .img:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 15px;
    bottom: 30px;
    background: #003718;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.about-info .about-info-img .img img {
    position: relative;
    background: transparent;
    border-radius: 0.25em;
}

.accordion-button {
    font-family: 'Merriweather', serif;
    color: #003718;
    background-color: #fff;
}

.accordion-button:link {
    color: #003718;
}

.accordion-button:not(.collapsed) {
    color: #FFF;
    background-color: #005f08cc;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: #005f08cc;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
}

.accordion-button:focus {
    border-color: #FFF;
    font-weight: 700;
    outline: 0;
    box-shadow: 0 0 0 1px #003718;
    border: none;
}

.accordion-body {
    font-weight: 700;
}

/* Add/edit post template */
.edit-post {
    position: relative;
    height: 300px;
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1677438481/write_post_womr0w.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.edit-post-header {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 3em;
}

/* Account templates */
.container-accounts {
    max-width: 600px;
}

.header-accounts {
    content: '';
    height: 250px;
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1677704831/accounts_jjvu40.png');
    background-size: cover;
}

/* Contact templase */
.container-contact {
    padding: 25px;
}

.google-map {
    width: 100%;
    height: 500px;
}

/* Main project colours */

.dark {
    background-color: #04100D;
}

.green {
    background-color: #003718;
}

.platinum {
    background-color: #d2d6d6;
}

.silver {
    background-color: #cdcecf;
}

.accent-green {
    background-color: #c9e365;
}

.accent-orange {
    background-color: #ffbd59;
}


/* MEDIA QUERIES */

/* Tablets, up to 576-768px */
@media only screen and (max-width: 575.98px) {
.carousel-image {
    height: 100vh;
}

.logo {
    display: none;
}

.navbar-brand {
    font-size: 2em;   
}

.navbar-collapse {
    text-align: center;
    padding: 5px;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.display-2 {
    font-size: 2.25em;
    font-family: 'Gloock', serif;
    color: #04100D;
}

.display-6 {
    font-size: 1.75em;
    font-family: 'Gloock', serif;
    color: #003718;
}

.container-fluid {
    margin: 0;
}

.container-lg {
    margin: 0 5px;
    padding: 0 5px;
}

.count-box {
    width: 60%;
    font-size: medium;
    padding: 10px;
    margin: 0 auto;
}

.count-value {
    font-size: large;
}

.card {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.card-title {
    font-size: 1.5em;
}

.post-excerpt {
    font-size: 1em;
}

.image-caption {
    font-size: 0.75em;
    font-weight: 400;
}

.post-details {
    font-size: 0.75em;
}

.container-about {
    margin: 0;
    padding: 5px;
}

.container-contact {
    margin: 0;
    padding: 5px;
}

.footer {
    text-align: center;
}

}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .logo {
        display: none;
    }

    .navbar-brand {
        font-size: 2em;   
    }

    .navbar-collapse {
        text-align: center;
        padding: 5px;
    }

    .container {
        max-width: 100%;
    }

    .count-box {
        width: 60%;
        font-size: large;
        padding: 10px;
        margin: 0 auto;
    }
    
    .count-value {
        font-size: larger;
    }

    .card-main-page {
        width: 500px;
        margin-bottom: 30px;
    }
    
    
    .footer {
        text-align: center;
    }
}


/* Medium devices (tablets, bigger than 768 px but less than 992px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
        padding: 5px;
    }

    nav .container {
        margin: 5px auto;
    }

    .container {
        width: 100%;
    }

    .card-main-page {
        width: 600px;
        margin: 30px 0 30px 0;
    }
    
}
/* Large devices (laptops, desktops, 992-1200px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

    .logo img {
        width: 100px;
    }

    .navbar-brand {
        margin: 5px;
        padding: 0;
    }

    .navbar-brand {
        font-size: 1.75em;   
    }

    .count-box {
        font-size: medium;
        padding: 10px;
    }

    .count-value {
        font-size: large;
    }

    .dashboard-welcome img {
        padding: 10px;
    }

    .most-liked {
        width: 100%;
    }


    .card-main-page {
        max-width: 100px;
    }

    .
}