@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:ital,wght@0,300;0,700;1,300;1,700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 70px; /* height of sticky header */
}

body {
    font-family: 'Merriweather', serif;
    background-color: rgb(238, 245, 235);
}

body > .container {
    padding-top: 60px;
}

.navbar {
    height: 70px;
    margin-bottom: 10px;
}


/* BLOG POST CARD */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}



.post-link {
    text-decoration: none;
}

.post-details {

}

.card-title {
    font-family: 'Gloock', serif;
    color: #000;
    font-size: 2.5rem;
}

.image-caption {
    position: absolute;
    width: auto;
    bottom: 15px;
    background-color: rgb(0, 95, 8, 0.8);
    color: #fff;
    font-size: small;
    font-weight: 700;
    margin-bottom 10px;
    padding: 8px 8px;
}

.caption-likes .like {
    position: absolute;
    text-align: center;
    width: 50px;
    top: 1%;
    right: 1%;
    background: transparent;
    color: #fff;
    font-size: large;
    font-weight: 700;
    padding: 10px 10px;
}

.like:hover {
    color: #f00;
    transform: scale(1.5);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
}

/*Social icons*/
.social-icon {
    font-size: 1.5em;
    padding: 5px 5px;
    color: rgb(0, 95, 8);
}

.social-icon:hover {
    color: rgb(0, 95, 8);
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgb(0, 95, 8, 0.6);
  }