{% extends "base.html" %}

{% block content %}
<div class="wrapper mt-5 pt-5">
    <div class="container-md container-accounts bg-white rounded-3 box-shadow pt-0 px-0" data-aos="fade-down">
        <div class="header-accounts rounded-top m-0"></div>
        <div class="accounts-body p-4 mx-3">
            <h3 class="card-title mb-3">ERROR 404</h3>
            <p>Page not found, return to <a href="{% url 'home' %}" class="text-link">home page</a></p>
        </div>
    </div>
</div>
{% endblock %}