{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-2 left">
            <div class="row">
                {% for post in post_list %}

                <div class="col-12">
                    <div class="card mt-4 mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676809771/placeholder_map_qnsegu.webp">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-caption">
                                    <i class="fa-solid fa-earth-europe"></i> {{ post.location }}
                                </div>
                            </div>
                            <a href="{% url 'full_post' post.slug %}" class="post-link">
                                <h2 class="card-title mt-3">{{ post.title }}</h2>
                            </a>
                            <p class="card-text excerpt">{{ post.excerpt }}</p>
                            <hr />
                            <p class="post-details text-muted mt-1 mb-1">
                                <i class="fa-regular fa-pen-to-square"></i> {{ post.author }} |
                                <i class="fa-regular fa-folder"></i> {{ post.category }} |
                                <i class="fa-regular fa-calendar-check"></i> {{ post.created_on }} |
                                <i class="far fa-heart"></i> {{ post.number_of_likes }}
                            </p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="fa-solid fa-angle-left"></i> Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next <i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>



{% endblock %}