{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}

                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on }}
                                <i class="far fa-heart"></i>
                            </p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>



{% endblock %}