{% extends "base.html" %}
{% block title %}Photo Adventures - Delete post{% endblock %}

{% load static %}

{% block content %}

<div class="wrapper">
  <div class="container">
    <div class="modal modal-alert modal-overlay d-block py-5" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-body p-4 text-center">
            <h3 class="mb-3">Are you sure?</h3>
            <p class="warning"><i class="fa-solid fa-triangle-exclamation"></i></p>
            <p class="mb-0">This can not be undone.</p>
          </div>
          <div class="modal-footer flex-nowrap justify-content-around p-0">
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger d-inline"><i class="fa-solid fa-trash"></i> Yes, delete it</button>
              <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal"><a href="{% url 'user_account' %}" class="delete-link"><i class="fa-solid fa-rotate-left"></i> Cancel</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}