{% extends 'base.html' %} 

{% block meta %}
    <!-- Open graph properties to display metadata in social media START -->
    <meta name="description" content="Read about {{ post.title }} on Photo Adventures blog.">
    <meta property="og:title" content="{{ post.title}} ">
    <meta property="og:description" content="Read about {{ post.title }} on Photo Adventures blog.">
    <meta property="og:image" content="{{ post.featured_image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="keywords" content="{{ post.tags.all|join:', ' }}">
    <!-- Open graph properties to display metadata in social media END -->
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% load gravatar %}
{% load social_share %}

<!-- Full post start -->
<div class="container py-5 my-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top card-img-blog"
                        src="https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676809771/placeholder_map_qnsegu.webp">
                    {% else %}
                    <img class="card-img-top card-img-blog" src="{{ post.featured_image.url }}">
                    {% endif %}
                    <div class="image-caption">
                        <i class="fa-solid fa-earth-europe"></i> {{ post.location }}
                    </div>
                    <div class="caption-likes">
                        {% if user.is_authenticated %}
                        {% if post.author == request.user %}
                        <button type="button" class="like d-block" data-toggle="tooltip-like" data-placement="left"
                            title="You can not add like to your own post">
                            <i class="far fa-heart"></i>
                            <button type="button" class="edit d-block" data-toggle="tooltip-like" data-placement="left"
                                title="Click to edit post">
                                <a href="{% url 'edit_post' slug=post.slug %}" class="edit" title="Edit post">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            </button>
                        </button>
                        {% else %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="like liked"
                                data-toggle="tooltip-like" data-placement="left" title="Click to remove like">
                                <i class="fas fa-heart"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="like"
                                data-toggle="tooltip-like" data-placement="left" title="Click to add like">
                                <i class="far fa-heart"></i>
                            </button>
                            {% endif %}
                        </form>
                        {% endif %}
                        {% else %}
                        <button type="button" class="like" data-toggle="tooltip-like" data-placement="left"
                            title="Log in to like posts">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div class="social-share">
                        {% post_to_facebook object_or_url "Share on Facebook" %}
                        {% post_to_twitter "Blog post: {{ post.title }}. Check this out!" object_or_url "Share on Twitter" %}
                    </div>
                </div>
                <h2 class="card-title mt-5">{{ post.title }}</h2>
                <p class="post-details text-muted mt-3">
                    <i class="fa-regular fa-pen-to-square"></i> {{ post.author }} |
                    <i class="fa-regular fa-folder"></i> {{ post.category }} |
                    <i class="fa-regular fa-calendar-check"></i> <time>{{ post.created_on }}</time> |
                    <i class="far fa-heart"></i> {{ post.number_of_likes }} |
                    <i class="far fa-comments"></i> {{ post.number_of_comments }}
                    {% if post.tags.all %}
                    <div class="post-tags rounded mt-2 mb-5">
                        {% for tag in post.tags.all %}
                        <button><a href="{% url 'tagged_posts' tag.slug %}">{{ tag.name }}</a></button>
                        {% endfor %}
                    </div>
                    {% endif %}
                </p>
                <!-- Comment section start -->
                <div class="card-text">{{ post.content | safe }}</div>
                <div class="row">
                    <div class="col-sm-8 my-5">
                        <h3><i class="fa-regular fa-comments"></i> Comments:</h3>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="comments p-3">
                            <div class="row">
                                <div class="col-auto pr-0">
                                    {{ comment.email|gravatar:80 }}
                                </div>
                                <div class="col">
                                    <p class="font-weight-bold">
                                        <i class="fa-regular fa-user"></i> {{ comment.name }}
                                        <span class="text-muted font-weight-normal">
                                            on <time>{{ comment.created_on }}</time>
                                        </span> wrote:
                                    </p>
                                    {{ comment.body | linebreaks }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>There are no comments yet.</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-4 my-5 ">
                        {% if user.is_authenticated %}
                        <h3><i class="fa-regular fa-keyboard"></i> Leave a comment:</h3>
                        <p>Posting as <i class="fa-regular fa-user"></i> {{ user.username }}</p>
                        <form method="post" mt-3>
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-green">Submit</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <!-- Comment section end -->
            </div>
        </div>
    </div>
</div>
<!-- Full post end -->

{% endblock content %}