{% extends "base.html" %}
{% block title %}Photo Adventures - Guidelines and rules for commenting{% endblock %}

{% block content %}
<main class="my-5 py-5">
  <div class="container bg-white rounded-3 my-5 py-3">
    <div class="container edit-post align-content-center rounded-3 p-2"></div>
    <div class="container mt-5 mb-3 p-3">
      <h1 class="mb-3 p-3">Guidelines and rules for commenting</h1>
      <ol class="lh-lg">
        <li>
          <strong>Be respectful:</strong> Refrain from posting offensive or disrespectful messages, including
          comments that contain hate speech, personal attacks, or other forms of harassment.
        </li>
        <li>
          <strong>Stay on topic:</strong> Keep your comments relevant to the post or discussion topic. Do not
          post spam or off-topic messages.
        </li>
        <li>
          <strong>Provide constructive feedback:</strong> Provide feedback that is helpful and constructive,
          rather than simply criticizing or complaining.
        </li>
        <li>
          <strong>Use appropriate language:</strong> Avoid using profanity or other inappropriate language in
          their comments.
        </li>
        <li>
          <strong>Be concise:</strong> Keep your comments concise and to the point, rather than posting long
          or rambling messages.
        </li>
        <li>
          <strong>Respect others' privacy:</strong> Respect the privacy of others and not to post personal
          information or identifying details in your comments.
        </li>
      </ol>
      <p><em>Thank you, Photo Adventures Team</em></p>
    </div>
  </div>
</main>
{% endblock %}